<ion-header>
  <ion-navbar>
    <ion-title>{{titulo_modal}}</ion-title>
    <ion-buttons end="" (click)="closeModal()" >
      <button ion-button="" class="disable-hover bar-button bar-button-md bar-button-default bar-button-default-md"><span class="button-inner">  <ion-icon ios="ios-close" md="md-close"></ion-icon></span></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col col-12>
        <ion-label class="label_input_detalle">
          Asegurate de haber ingresado todos tus alimentos previamente antes de crear una receta ya que en esta sección solo seleccionamos los ingredientes existentes.
        </ion-label>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="label_seccion">
    <ion-label class="label label-md">Información general de la receta</ion-label>
  </div>

  <ion-grid>
    <ion-row >
      <ion-col col-7>
        <ion-label class="label_input">Título</ion-label>
        <ion-input class="input_formulario" [(ngModel)]="item.nombre" type="text" placeholder="Nombre"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-label class="label_input">Porción</ion-label>
        <ion-input class="input_formulario" (ionFocus) = "selectText($event._native.nativeElement)" [(ngModel)]="item.porcion" type="number" placeholder="Gramos"></ion-input>
      </ion-col>
    </ion-row >
    <ion-row >
      <ion-col col-7>
        <ion-label class="label_input">Descripción</ion-label>
        <ion-input class="input_formulario" [(ngModel)]="item.detalle" type="text" placeholder="Información adicional"></ion-input>
      </ion-col>
      <ion-col col-5>
          <ion-label class="label_input">Peso total</ion-label>
          <ion-input class="input_formulario" (ionFocus) = "selectText($event._native.nativeElement)" [(ngModel)]="item.peso" type="number" placeholder="Gramos"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-7>
        <ion-label class="label_input">Categoría</ion-label>
        <ion-select [(ngModel)]="item.categoria" selectedText="" multiple = "false" placeholder="Seleccione..." interface="popover" class="select_clasificacion">
          <ion-option *ngFor="let categoria of categorias; index as i" [value] = "categoria.id">
              {{ categoria.nombre }}
          </ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-5>
          
      </ion-col>
    </ion-row>
  </ion-grid>


  <br>
  <div class="label_seccion">
    <ion-label class="label label-md">Ingredientes de la receta</ion-label>
  </div>

  <ion-grid>
    <ion-row >
      <ion-col col-4>
        <ion-label class="label_input">Porciones</ion-label>
        <ion-input class="input_formulario" [(ngModel)]="item.porciones" type="number" placeholder="Número"></ion-input>
        </ion-col>
      <ion-col col-6>
        <ion-label class="label_input">Ingrediente</ion-label>
        <ion-input class="input_formulario" (ionInput)="cambiarBusqueda()" (keyup)="cambiarBusqueda()" (ionBlur)="cambiarBusqueda()" [(ngModel)]="searchTerm" type="text" placeholder="Ingrediente"></ion-input>
        <ul class="listado_items">
          <ng-container *ngFor="let item of items; index as i">
            <li *ngIf="!item.filtrado" (click)="seleccionar_ingrediente(item)">
              {{ item.porcion }}g de {{ item.nombre }}  <div>{{ item.detalle }}</div>
            </li>
          </ng-container>
        </ul>
      </ion-col>

      <ion-col col-2 class="agregar_ingrediente" (click)="agregar_ingrediente()"> 
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid class="listado_ingredientes">
    <ion-row *ngFor="let ingrediente of listado_ingredientes; index as i">
      <ion-col col-3>
          {{ ingrediente.porciones }} x {{ ingrediente.porcion }}g
      </ion-col>
      <ion-col col-8>
          {{ ingrediente.nombre }}
      </ion-col>
      <ion-col col-1 >
          <ion-icon (click)="eliminar(i)" ios="ios-trash" md="md-trash"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

    

<br>
<div class="label_seccion">
  <ion-label class="label label-md">Resultado</ion-label>
</div>
<ion-grid>
  <ion-row>
      <ion-col col-4>
          <ion-label class="label_input">Proteínas</ion-label>
          <ion-input class="input_formulario" [(ngModel)]="receta.info.proteinas_total" type="number" placeholder="Gramos"></ion-input>
      </ion-col>
      <ion-col col-4 >
          <ion-label class="label_input">Grasas</ion-label>
          <ion-input class="input_formulario" [(ngModel)]="receta.info.grasas_total" type="number" placeholder="Gramos"></ion-input>
      </ion-col>
      <ion-col col-4>
          <ion-label class="label_input">Carbohidratos</ion-label>
          <ion-input class="input_formulario" [(ngModel)]="receta.info.carbohidratos_total" type="number" placeholder="Gramos"></ion-input>
      </ion-col>
    </ion-row >
  </ion-grid>


  <ion-grid>
      <ion-row>
          <ion-col col-4>
              <ion-label class="label_input">Proteínas</ion-label>
              <ion-input class="input_formulario" [(ngModel)]="item.info.proteinas" type="number" placeholder="Gramos"></ion-input>
          </ion-col>
          <ion-col col-4 >
              <ion-label class="label_input">Grasas</ion-label>
              <ion-input class="input_formulario" [(ngModel)]="item.info.grasas" type="number" placeholder="Gramos"></ion-input>
          </ion-col>
          <ion-col col-4>
              <ion-label class="label_input">Carbohidratos</ion-label>
              <ion-input class="input_formulario" [(ngModel)]="item.info.carbohidratos" type="number" placeholder="Gramos"></ion-input>
          </ion-col>
        </ion-row >
      </ion-grid>

      
  <div>
    <button (click) = "aceptar()" ion-button full class="button_app">Guardar</button>
  </div>

</ion-content>
